In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
data = pd.read_csv("../Data/Clean_MOLD_V2.csv")
data.head(5)

,tweet,subtask_a,subtask_b,subtask_c
0,पूर्व लडाखमधील मुखपरी येथे प्रत्यक्ष ताबारेषेज...,not offensive,NaN,NaN
1,कोणत्याही रिलेशनशिप मध्ये सुंदर दिसणं खूप महत...,not offensive,NaN,NaN
2,भारत ऑगस्ट ला स्वतंत्र झाला आणि त्यानंतर तब्...,not offensive,NaN,NaN
3,स्वत ला हवा तसा बाइट किंवा प्रतिक्रिया घेण्यास...,not offensive,NaN,NaN
4,व्या नंबरची अर्थव्यवस्था आहे भारताची जगात पर्...,not offensive,NaN,NaN

In [20]:
data = data.astype(object).replace(np.nan,'NULL')
data.head(5)

,tweet,subtask_a,subtask_b,subtask_c
0,पूर्व लडाखमधील मुखपरी येथे प्रत्यक्ष ताबारेषेज...,not offensive,NULL,NULL
1,कोणत्याही रिलेशनशिप मध्ये सुंदर दिसणं खूप महत...,not offensive,NULL,NULL
2,भारत ऑगस्ट ला स्वतंत्र झाला आणि त्यानंतर तब्...,not offensive,NULL,NULL
3,स्वत ला हवा तसा बाइट किंवा प्रतिक्रिया घेण्यास...,not offensive,NULL,NULL
4,व्या नंबरची अर्थव्यवस्था आहे भारताची जगात पर्...,not offensive,NULL,NULL

In [21]:
data.subtask_a.unique()

array(['not offensive', 'Offensive', 'offensive', 'Non-Offensive',
       'Offensive ', 'NULL', 'Non-Offensive '], dtype=object)

In [22]:
data['subtask_a'] = data['subtask_a'].replace({"Non-Offensive":"not offensive","Non-Offensive ":"not offensive"}, inplace=)
data.subtask_a.unique()

array(['not offensive', 'Offensive', 'offensive', 'Offensive ', 'NULL'],
      dtype=object)

In [23]:
data['subtask_a'] = data['subtask_a'].replace({"offensive":"Offensive","Offensive ":"Offensive"})
data.subtask_a.unique()

array(['not offensive', 'Offensive', 'NULL'], dtype=object)

In [26]:
data['subtask_a'].value_counts()

not offensive    2291
Offensive        1071
NULL                1
Name: subtask_a, dtype: int64